body{
    background: #111;
}
.stopwatch{
    width:90%;
    max-width: 1000px;
    background-color: rgba(230,230,230,0.8);
    text-align: center;
    padding: 40px 0;
    margin: 200px auto 0;
    box-shadow: 10px 20px 20px rgba(23,150,255,0.4);
    border-radius: 20px;
    border: solid 5px;
    animation:stopWatch 2s 300ms infinite ; 
}

@keyframes stopWatch{
    0%{
        box-shadow: -5px 10px 20px rgba(23,250,255,0.9)
    }
    25%{
        box-shadow: 5px 10px 20px rgba(230,100,250,0.9)
    }
    75%{
        box-shadow: 5px -10px 20px rgba(23,150,255,0.9)
    }
    100%{
        box-shadow: -5px 10px 20px rgba(23,250,255,0.9)
    }
}

.stopwatch h1{
    margin-top:60px;
    font-size: 108px;
    font-weight: 300;
    color:#000;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  10px;
    
}

.button img{
    width: 100px;
    margin: 0 20px;
    cursor: pointer;
    
}

#stop:hover{
    background-color: #3f3;
    border-radius: 100px;
}
#play:hover{
    background-color: aqua;
    border-radius: 100px;
}
#reset:hover{
    background-color: #ff1111;
    border-radius: 100px;
}
#pastEvent{
    font-size: 30px;
    color:#000;
    font-weight: 300;
    margin-top: 20px;
}